.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0px;
  margin: 0px;
  margin-top: 3rem;
  margin-bottom: 50px;
}

.containerOfQuotes {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}

.quotesForm {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5;
  padding: 40px;
}

.quotesTitle {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.quotesContent1 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.4rem;
}

.quotesFrequency {
  display: flex;
  color: #333;
  gap: 2.2rem;
  align-items: center;
  justify-content: center;
}

.quotesBtn {
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 9px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.quotesBtnClick {
  background-color: #4f46e5;
  color: #fff;
  align-items: center;
  display: inline-block;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  border: none;
}

.btnCheckout {
  background-color: #4f46e5;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  align-items: center;
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 500;
  padding: 1.3rem 2.8rem;
  border-radius: 9px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: #fff;
  margin-bottom: 1rem;
}

.btnCheckout:link,
.btnCheckout:visited {
  background-color: #4f46e5;
  color: #fff;
}

.btnCheckout:hover,
.btnCheckout:active {
  background-color: #4f46e5;
}

.QuotesSaving {
  display: flex;
  justify-content: space-between;

  margin-top: 2.4rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #4f46e5;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1rem 0.7rem;
  font-size: 12px;
  line-height: 1.5;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.quotesContentSaving {
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 0.4rem;
}
.quotesCleaning {
  display: flex;
  justify-content: space-between;
  margin-left: 0.9rem;
}

.priceDiv {
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.quotesPlanBox {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.quoteCleaningPlan {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sumarize {
  background-color: #f5f5f5;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  min-width: 230px;
  max-width: 300px;
  gap: 1.2rem;
  flex: 0 0 300px;
  text-align: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  max-width: 300px;
  gap: 2rem;
  flex: 0 0 300px;
  text-align: center;
}

.subheading {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #4f46e5;
  text-transform: uppercase;

  letter-spacing: 0.75px;
}

.subheadingWithToolTip {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #4f46e5;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.containerOfFaq {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.containerOfFaq h1 {
  color: black;
  font-size: 3rem;
}

.faqContainer {
  margin-top: 20px;
}

.innerFAQ {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90vw;
  text-align: center;
}

.faq {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapseButton {
  display: block;
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  gap: 20px;
}

.expanded {
  width: 100%;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 2px;
  text-align: left;
  color: gray;
}
.collapsed {
  margin-top: -18px;
  color: transparent;
  height: 0px;
}

.expanded {
  height: fit-content;
  transition: 0.5s;
}

.textDescription {
  font-size: 1.1rem;
line-height: 1.8;
}
.footerHeading {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.requestlabel {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.requestInput {
  width: 100%;
  height: 35px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0eeee;
  border: 1px solid #4f46e5;
  font-size: 12px;
  color: #333;
}

@media (max-width: 1200px) {
  .btnCheckout {
    height: 6rem;
    padding: 0px !important;
    font-size: 15px;
  }
  .footerHeading {
    font-size: 1.4rem;
    line-height: 0.8;
  }
  .containerOfFaq {
    margin-top: 20px;
  }
}

@media (max-width: 630px) {
  .quotesBtn,
  .quotesBtnClick {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }
  .quotesForm {
    padding: 15px;
  }
  .quotesContent1 {
    font-size: 1rem;
  }
  .textDescription {
    font-size: 0.8rem;
  }
  .footerHeading {
    font-size: 1rem;
  }
  .subheading {
    font-size: 1rem;
  }
  .subheadingWithToolTip {
    font-size: 1.1rem;
  }
  .innerFAQ {
    width: 95vw;
  }
  .collapseButton {
    padding: 20px 10px;
  }
  .tooltip .tooltiptext {
    font-size: 7px;
  }
  .btnCheckout{
    padding: 0.5rem 0.8rem;
  }

}

